body{
    margin: 0px;
}

.target{
    background-color: #8d171d;
    color: #f9e9cc;
    text-align: center;
}

.paragraph{
    background-color: #bdbdbd;
    padding: 10px;
    font-size: 24px;
}
.paragraph2{
    box-sizing: border-box;
    background-color: #5f8ce3;
    font-size: 24px;
    margin: 0px; 0px; 0px; 0px;
    height: 150px;
    padding-top: 60px;
}

.square{
    width: 250px;
    height: 250px;
    background-color: #48ba68;
    box-sizing: border-box;
}

.square2{
    width: 250px;
    height: 250px;
    background-color: #8781a3;
    box-sizing: border-box;
    border-radius: 25px;
}

