body{
    margin: 0;
}


.wrap{

}



.bg_col_grey{
    background-color: #686868;
}

.text{
    color: white;
    text-align: center;
    font-size: 20px;
}





.h50{
    height: 50px;
}
.h100{
    height: 100px;
}
.h200{
    height: 150px;
}