body {
    background-color: antiquewhite;
}

.colum {
    display: flex
}

.header {
    background-color: #185fb3;
    box-sizing: border-box;
    height: 150px;
    width: 600px;
    color: white;
    text-align: center;
    font-size: 24px;
    padding-top: 50px;
    margin: 5px;
}

.nameWidgets{
    background-color: #0b4374;
    box-sizing: border-box;
    text-align: center;
    font-size: 14px;
    color: #ffffff;
    height: 100px;
    width: 194px;
    padding-top: 40px;
    margin: 5px;
}

.footer {
    background-color: #185fb3;
    box-sizing: border-box;
    height: 400px;
    width: 600px;
    color: white;
    text-align: center;
    font-size: 24px;
    padding-top: 180px;
    margin: 5px;
}