body {
    display: flex;
    justify-content: center;
    background-color: #f9e9cc;
}
.wrap{
    background-color: white;
    width: 400px;
}
.h100{
    height: 100px;
}
.h200{
    height: 200px;
}
.w100{
    width: 100px;
}
.w400{
    width: 400px;
}

.text{
    background-color: #d8d8d8;
    border: 2px solid white;
    box-sizing: border-box;
    text-align: center;
    padding-top: 45px;
    border-radius: 10px;
}
.box{
    display: flex;
    flex-wrap: wrap;
    width: 300px;
}

.box2{
    display: flex;

}